#!/usr/bin/env nextflow
import nextflow.util.SysHelper

includeConfig "${projectDir}/config/default.config"

params {
    // sample inputs/ouputs locations
    input_image_folder_path = "/mnt/o/Raw_Data/2024_05_28_MCF7_needle_size_test_unwrapped_BW"
    output_dir = "/mnt/o/tracked/2024_05_28_MCF7_BW_pipeline_TLPC"
    well_level_information = "/mnt/o/Raw_Data/2024_05_28_MCF7_needle_size_test_unwrapped_BW/well_by_condition_2024_05_28_MCF7.csv"
}

methods.setup()