#!/usr/bin/env nextflow
import nextflow.util.SysHelper

includeConfig "${projectDir}/config/default.config"

params {
    // sample inputs/ouputs locations
    input_image_folder_path = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/nextflow_development/test"
    output_dir = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/nextflow_development/output"
    well_level_information = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/nextflow_development/test/well_by_condition_test.csv"
}

methods.setup()