#!/usr/bin/env nextflow
import nextflow.util.SysHelper

includeConfig "${projectDir}/config/default.config"

params {
    // sample inputs/ouputs locations
    input_image_folder_path = "/mnt/o/Raw_Data/2023_09_16_BC0001_unwrapped_BW"
    output_dir = "/mnt/o/tracked/2023_09_16_BC0001_BW_pipeline_TLPC"
    well_level_information = "/mnt/o/Raw_Data/2023_09_16_BC0001_unwrapped_BW/well_by_condition_2023_09_16_BC0001.csv"
}

methods.setup()