params {
    // sample inputs/ouputs locations
    input_image_folder_path = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/nextflow_development/test_image"
    output_dir = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/nextflow_development/test2/s1_output"
    hslci_pipeline_dir = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline"
}