#!/usr/bin/env nextflow
import nextflow.util.SysHelper

includeConfig "${projectDir}/config/default.config"

params {
    // sample inputs/ouputs locations
    input_image_folder_path = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/test/input"
    output_dir = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/nextflow_development/output"
    hslci_pipeline_dir = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/nextflow_development/hslci_data_package"
    well_level_information = "/hot/user/alfgonzalez/pipeline/pipeline-hslci/hslci_pipeline/step5_files/well_by_condition_test.csv"
}


methods.setup()