import nextflow.util.SysHelper

params {
    // Docker and their versions
    docker_image_unetsegmentation = "soragnilab/unetsegmentation:1.0.0"    
    
    // CPU and memory paramaters
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
}

// Process specific scope
process {
    // Process results are stored to local cache.
    // If pipeline is launched with the 'resume' option, existing cache results will be used when available
    // rather than re-executing processes
    cache = true

    // Forward process 'stdout' to shell terminal and, consequently, the log file
    echo = true
    executor = 'local'

    // total amount of resources avaible to the pipeline
    cpus = params.max_cpus
    memory = params.max_memory

    withName: segment_MATLAB_files {
        cpus = params.max_cpus
        memory = params.max_memory
    }
}

// Enable Docker and configure docker-related options like user and group IDs
docker {
    enabled = true
}

methods {
    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.output_directory}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.output_directory}/nextflow-log/timeline.html"

        report.enabled = true
        report.file = "${params.output_directory}/nextflow-log/report.html"
    }
    setup = {
        methods.set_pipeline_logs
    }
}

